<!-- wp:template-part {"slug":"header","theme":"chocolate-house","tagName":"header"} /-->

<!-- wp:pattern {"slug":"chocolate-house/slider"} /-->
<!-- wp:pattern {"slug":"chocolate-house/product-section"} /-->
<!-- wp:pattern {"slug":"chocolate-house/about-us-section"} /-->
<!-- wp:pattern {"slug":"chocolate-house/testimonials-section"} /-->
<!-- wp:pattern {"slug":"chocolate-house/faq-section"} /-->
<!-- wp:pattern {"slug":"chocolate-house/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"chocolate-house","tagName":"footer"} /-->